USE [C76_Recycle]
GO
/****** Object:  StoredProcedure [dbo].[ProductConditionTypes_Insert]    Script Date: 9/16/2019 9:43:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[ProductConditionTypes_Insert]
as
BEGIN
Select 1
END
GO
